<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>

    <title>Exams</title>
</head>

<body>
    <div class="container">
        <!-- start here -->
        
        <!-- <img src="{% static "img/board_img.jpg" %}" width="1024" height="576">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item">Boards</li>
            </ol> -->
            
        {% if not username %}
        <span>please <a href="/login">login</a>
            <!--/ <a href = "/register">register</a> --></span>
        {% else %}
        <span><a href="/logout">log out</a></span>
        {% endif %}
        <h2>Hi! Wellcome {{ username|default:'Guest' }}</h2>

        <br>

        <label><b>Question:</b></label>
        <textarea style="width:100%;" id="question" rows="5"></textarea>

        <div class="form-contacts-container">
            <div class="form-contact" id="form-contact-1">
                <p><b>is_Answer/ Option</b></p>
                <input type="checkbox" id=0 placeholder="answer">
                <input type="text" option-tag-id="" placeholder="option">
            </div>
            <!-- We'll be adding additional inputs here -->
        </div>
        
        <br>
        
        <div class="form-contacts-add">
            <input type="button" value="Add More Options" id="add-options">
        </div>
        
        <br>

        <form enctype="multipart/form-data">{% csrf_token %}
            <ul>
                <li>
                    <span>上傳影片(可多選, 檔案格式.mp4)</span>
                    <input type="file" id="media" name="file" multiple>
                </li>
                <li>
                    <span>上傳圖片(可多選, 檔案格式 .jpeg .jpg .png")</span>
                    <input type="file" id="image" name="image" accept="image/jpeg, image/png, image/jpg" multiple>
                </li>
            </ul>
        </form>

        <button type="submit" id="submit-exam" exam_id="{{ exam_id }}">Add in below</button>

        <br><br>

        <a href="/exams/{{ exam.id }}"><button>Finished! 分享給別人測驗</button></a>

        <br><br>

        <table style="width:100%">
            <thead>
                <tr>
                    <th>Exam Titles:</th>
                </tr>
                <tr>
                    <th style="font-size:1.5em">{{ exam }}</th>
                </tr>
            </thead>
        </table>

        <br>

        {% for q in questions %}
        <table style="width:100%;" border="1">
            <tbody>
                <tr>
                    <td style="width:8%">
                        <strong>Question</strong>
                        <a href="/exams/{{ q.exam_id }}/questions/{{ q.id }}"><button>Delete question</button></a>
                    </td>
                    <td>
                        <p style="color: blue;">{{ q.question }}</p>
                        <!-- <small style="color: #888">{{ board.description }}</small>-->
                        {% if videos %}
                        {% for v in videos %}
                        {% if v.question_id == q.id %}
                        <video width='400' controls>
                            <source src="{{ MEDIA_URL }}{{ v.file_path }}" type='video/mp4'>
                            </source>
                            Your browser does not support the video tag.
                        </video>
                        <a href="/exams/{{ q.exam_id }}/questions/{{ q.id }}/question_files/{{ v.id }}"><button>Delete</button></a>
                        <br>

                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        {% if images %}
                        {% for i in images %}
                        {% if i.question_id == q.id %}
                        <img src="{{ MEDIA_URL }}{{ i.file_path }}" width='400'>
                        
                        <br>

                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Options</strong>
                    </td>
                    <td>
                        {% for o in q.options.all %}
                        <ul>
                            {% if o.is_answer == 0 %}
                            <li>{{ o.option }}</li>
                            {% else %}
                            <li style="color:blueviolet;">{{ o.option }}</li>
                            {% endif %}
                        </ul>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        {% endfor %}
    </div> <!-- end here -->
</body>


<script type="text/javascript">
    let total = 0; //流水號從零開始，搭配optionList[]的index
    let answerList = ['False']; //預設第一筆的checkbox是未打勾=false
    let optionList = [];
    let form_data = new FormData();
    let exam_id = window.location.pathname.split('/')[3];
    let media_file = [];
    let image_list = [];

    $(document).on('click', '#submit-exam', function (e) {
        e.preventDefault();
        $("[option-tag-id]").each(function () { //拿到所有的options[]
            if ($(this).val()) {
                optionList.push($(this).val());
            }
        });
        let len = $('#media')[0].files.length;
        for (let i = 0; i < len; i++) {
            media_file = $('#media')[0].files[i];
            form_data.append('media_file', media_file)
        }
        let imageLen = $('#image')[0].files.length;
        for (let i = 0; i < imageLen; i++) {
            image_list = $('#image')[0].files[i];
            form_data.append('image_list', image_list)
        }
        form_data.append('exam_id', exam_id)
        form_data.append('answer_list', answerList)
        form_data.append('option_list', optionList)
        form_data.append('question', $("#question").val())
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        $.ajax({
            url: "http://127.0.0.1:8000/exams/new/answers-options",
            type: 'POST',
            contentType: false,
            processData: false,
            data: form_data,
            success: function (data) {
                window.location.href = '/exams/new/' + data.exam_id; //這裡拿到後端傳過來新建立的exam的exam_id，覆寫上面form_data的exam_id
            }
        });
    })

    $(document).on('click', '#add-options', function (e) {
        e.preventDefault();
        var addBlockId = total = total + 1;
        answerList.push('False');
        var addBlock = document.createElement('div');
        $(addBlock).addClass('form-contact');
        $(addBlock).attr('id', 'form-contact-' + addBlockId);
        var inputName3 = document.createElement('input');
        $(inputName3).attr('type', 'checkbox');
        $(inputName3).attr('id', addBlockId);
        $(inputName3).attr('placeholder', 'answer');
        $(inputName3).appendTo($(addBlock));
        var inputName = document.createElement('input');
        $(inputName).attr('type', 'text');
        $(inputName).attr('option-tag-id', '');
        $(inputName).attr('placeholder', 'option');
        $(inputName).appendTo($(addBlock));
        $(addBlock).appendTo($('.form-contacts-container'));
        $('#contacts').val(total);

    });

    $(document).on('change', function () {
        $("input:checkbox").each(function () {
            if ($(this).is(":checked")) {
                answerList[$(this).prop("id")] = 'True'
                // alert(answerList)
            } else {
                answerList[$(this).prop("id")] = 'False'
                // alert(answerList)
            }
        })
    })
</script>

</html>