<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>

  <title>Exam List</title>
</head>

<body>
  <div class="container">
    <!-- start here -->
    {% if messages %}
    <div class="alert alert-warning" role="alert" style="text-align: center;">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
    </div>
    {% endif %}

    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'show_exam_list' %}">Exams</a></li>
      <li class="breadcrumb-item">標題: {{ exam.name }}</li>
    </ol>

    {% if not user_name %}
    <span>please <a href="/login">login</a></span>
    {% else %}
    <span><a href="/logout">log out</a></span>
    {% endif %}
    <h2>Hi! Wellcome {{ user_name|default:'Guest' }}</h2>

    <br><br>
    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>第幾次考試</th>
            <th>姓名</th>
            <th>考試時間</th>
          </tr>
        </thead>
        <tbody>
          {% for user in user_list %}
          <tr>
            <td>
              {{ user.count }}
            </td>
            <td>
              <a href="/exams/{{ exam.id }}/users/{{ user.user__id }}/result/{{ user.count }}">{{ user.user__name }}</a>
            </td>
            <td>
              {{ user.date }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> <!-- end here -->
</body>

</html>