<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>

  <title>Exam List</title>
</head>

<body>
  <div class="container">
    <!-- start here -->
    {% if messages %}
    <div class="alert alert-warning" role="alert" style="text-align: center;">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
    </div>
    {% endif %}

    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item">Exams</li>
    </ol>

    {% if not user_name %}
    <span>please <a href="{% url 'login' %}">login</a></span>
    {% else %}
    <span><a href="{% url 'logout' %}">log out</a></span>
    {% endif %}
    <h2>Hi! Wellcome {{ user_name|default:'Guest' }}</h2>

    <br>

    {% if is_admin or is_super_admin %}
    <a href="{% url 'new_exam' %}"><button>Create a new exam</button></a>
    {% endif %}

    <br><br>

    <table style="width:100%;" border="1">
      <thead>
        <tr>
          <th style="width:1%; padding-left: 10pt; padding-right: 10pt; text-align: center;">SN</th>
          <th>Exam title</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in exam_list %}
        <tr>
          <td style="width:1%; padding-left: 10pt; padding-right: 10pt; text-align: center;">{{ forloop.counter }}</td>
          <td>
            {{ exam.name }}
            {% if is_super_admin %}
            (<a href="{% url 'show_exam_user_list' exam_id=exam.id %}">查看考生結果</a>)
            <a href="/exams/new/{{ exam.id }}">
              <button type="button" class="btn btn-primary">Update exam</button>
            </a>
            <a href="/exams/{{ exam.id }}/delete">
              <button type="button" class="btn btn-danger">Delete exam</button>
            </a>

            {% elif is_admin and exam.id is 217 %}

            (<a href="{% url 'show_exam_user_list' exam_id=exam.id %}">查看考生結果</a>)

            {% else %}

            (<a href="{% url 'show_exam_user_list' exam_id=exam.id %}">查看考生結果</a>)
            <a href="/exams/new/{{ exam.id }}">
              <button type="button" class="btn btn-primary">Update exam</button>
            </a>
            <a href="/exams/{{ exam.id }}/delete">
              <button type="button" class="btn btn-danger" style="float: right;">Delete exam</button></a>

            {% endif %}

            {% for last_answer in last_answer_list %}
            {% if last_answer.exam_id == exam.id %}
            <a
              href="{% url 'show_exam' exam_id=exam.id %}?page={{ last_answer.next_answer_page }}"><button type="button" class="btn btn-success">開始作答</button></a>
            <br>

            {% endif %}
            {% endfor %}

            {% if exam.id not in user_incomplete_exam_id_list %}
            <a href="{% url 'show_exam' exam_id=exam.id %}?page=1"><button button type="button" class="btn btn-success">開始作答</button></a>
            <br>

            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- end here -->
</body>

</html>