<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>

  <title>Exam List</title>
</head>

<body>
  <div class="container">
    <!-- start here -->
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'show_exam_list' %}">Exams</a></li>
        <li class="breadcrumb-item">標題: {{ exam.name }}</li>
      </ol>

    {% if not username %}
    <span>please <a href="/login">login</a>
      <!--/ <a href = "/register">register</a> --></span>
    {% else %}
    <span><a href="/logout">log out</a></span>
    {% endif %}
    <h2>Hi! Wellcome {{ username|default:'Guest' }}</h2>
    <br>

    <table style="width:100%;" border="1">
      <thead>
        <tr>
          <th>列出所有考生</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>
            <a href="/exams/{{ exam.id }}/users/{{ user.id }}/result">{{ user.name }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- end here -->
</body>

</html>