<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>

  <title>Exam List</title>
</head>

<body>
  <div class="container">
    <!-- start here -->
    {% if messages %}
    <div class="alert alert-warning" role="alert" style="text-align: center;">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
    </div>
    {% endif %}

    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item">Exams</li>
    </ol>

    {% if not user_name %}
    <span>please <a href="/login">login</a></span>
    {% else %}
    <span><a href="/logout">log out</a></span>
    {% endif %}
    <h2>Hi! Wellcome {{ user_name|default:'Guest' }}</h2>

    <br>

    {% if is_admin %}
    <a href="/exams/new"><button>Create a new exam</button></a>
    {% endif %}

    <br><br>

    <table style="width:100%;" border="1">
      <thead>
        <tr>
          <th>Exam title</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in exam_list %}
        <tr>
          <td>
            {{ exam.name }}
            {% if is_admin %}
            (<a href="/exams/{{ exam.id }}/users">查看考生結果</a>
            <!-- , <a href="/exams/new/{{ exam.id }}">更新考題</a> -->
              ) 
            <!-- <ahref="/exams/{{ exam.id }}/delete">
              <button>Delete
                exam</button></a> -->
                 <a href="/exams/{{ exam.id }}"><button>開始作答</button></a><br>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- end here -->
</body>

</html>