<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>

    <title>Exams</title>
</head>

<body>
    <div class="container">
        <!-- start here -->
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'show_exam_list' %}">Exams</a></li>
            <li class="breadcrumb-item">Create a new exam</li>
        </ol>

        {% if not username %}
        <span>please <a href="/login">login</a>
            <!--/ <a href = "/register">register</a> --></span>
        {% else %}
        <span><a href="/logout">log out</a></span>
        {% endif %}
        <h2>Hi! Wellcome {{ username|default:'Guest' }}</h2><br>
        <label><b>Exam Title:</b></label>
        <textarea style="width:100%;" id="exam_title" rows="1"></textarea>
        <label><b>Question:</b></label>
        <textarea style="width:100%;" id="question" rows="5"></textarea>

        <div class="form-contacts-container">
            <div class="form-contact" id="form-contact-1">
                <p><b>is_Answer/ Option</b></p>
                <input type="checkbox" id=0 placeholder="answer">
                <input type="text" option-tag-id="" placeholder="option">
            </div>
            <!-- We'll be adding additional inputs here -->
        </div>
        <div class="form-contacts-add">
            <input type="button" value="Add More Options" id="add-options">
        </div>

        <br><br>

        <form enctype="multipart/form-data">{% csrf_token %}
            <ul>
                <li>
                    <span>上傳影片(可多選, 檔案格式.mp4)</span>
                    <input type="file" id="media" name="file" multiple>
                </li>
                <li>
                    <span>上傳圖片(可多選, 檔案格式 .jpeg .jpg .png")</span>
                    <input type="file" id="image" name="image" accept="image/jpeg, image/png, image/jpg" multiple>
                </li>
            </ul>
        </form>

        <button type="submit" id="submit-exam">Create</button>

    </div> <!-- end here -->
</body>

<script type="text/javascript">
    let total = 0; //流水號從零開始，搭配optionList[]的index
    let answerList = ['False']; //預設第一筆的checkbox是未打勾=false
    let optionList = [];
    let form_data = new FormData();
    let exam_id = "";
    let media_file = [];
    let image_list = [];

    function getCookie(name) { //https://docs.djangoproject.com/en/2.2/ref/csrf/#ajax
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) { //https://docs.djangoproject.com/en/2.2/ref/csrf/#ajax
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    
    let csrftoken = getCookie('csrftoken');

    $(document).on('click', '#submit-exam', function (e) {
        e.preventDefault();
        $("[option-tag-id]").each(function () { //拿到所有的options[]
            if ($(this).val()) {
                optionList.push($(this).val());
            }
        });
        let mediaLen = $('#media')[0].files.length;
        for (let i = 0; i < mediaLen; i++) {
            media_file = $('#media')[0].files[i];
            form_data.append('media_file', media_file)
        }
        let imageLen = $('#image')[0].files.length;
        for (let i = 0; i < imageLen; i++) {
            image_list = $('#image')[0].files[i];
            form_data.append('image_list', image_list)
        }
        form_data.append('exam_id', exam_id)
        form_data.append('answer_list', answerList,)
        form_data.append('option_list', optionList,)
        form_data.append('question', $("#question").val())
        form_data.append('exam_title', $("#exam_title").val())
        $.ajaxSetup({ //https://docs.djangoproject.com/en/2.2/ref/csrf/#ajax
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            url: "new/answers-options",
            type: 'POST',
            contentType: false,
            processData: false,
            data: form_data,
            success: function (data) {
                window.location.href = '/exams/new/' + data.exam_id; //這裡拿到後端傳過來的exam_id，寫進data裡面
            }
        });
    })

    $(document).on('click', '#add-options', function (e) {
        e.preventDefault();
        var addBlockId = total = total + 1;
        answerList.push('False');
        var addBlock = document.createElement('div');
        $(addBlock).addClass('form-contact');
        $(addBlock).attr('id', 'form-contact-' + addBlockId);
        var inputName3 = document.createElement('input');
        $(inputName3).attr('type', 'checkbox');
        $(inputName3).attr('id', addBlockId);
        $(inputName3).attr('placeholder', 'answer');
        $(inputName3).appendTo($(addBlock));
        var inputName = document.createElement('input');
        $(inputName).attr('type', 'text');
        $(inputName).attr('option-tag-id', '');
        $(inputName).attr('placeholder', 'option');
        $(inputName).appendTo($(addBlock));
        $(addBlock).appendTo($('.form-contacts-container'));
        $('#contacts').val(total);

    });

    $(document).on('change', function () {
        $("input:checkbox").each(function () {
            if ($(this).is(":checked")) {
                answerList[$(this).prop("id")] = 'True'
                // alert(answerList)
            } else {
                answerList[$(this).prop("id")] = 'False'
                // alert(answerList)
            }
        })
    })
</script>

</html>