<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>

    <title>Exams</title>
</head>

<body>
    <div class="container">
        <!-- start here -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert" style="text-align: center;">
            {{ message }}
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-warning" role="alert" style="text-align: center;">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'show_exam_list' %}">Exams</a></li>
            <li class="breadcrumb-item">開始作答</li>
        </ol>

        {% if not user_name %}
        <span>please <a href="{% url 'login' %}">login</a></span>
        {% else %}
        <span><a href="{% url 'logout' %}">log out</a></span>
        {% endif %}
        <h2>Hi! Wellcome {{ user_name|default:'Guest' }}</h2><br>

        <table style="width:100%">
            <thead>
                <tr>
                    <th>Exam Titles:</th>
                </tr>
                <tr>
                    <th style="font-size:1.5em">{{ exam }}</th>
                </tr>
            </thead>
        </table>

        <br>

        {% if questions_in_page.has_previous %}
        <button><a href="?page={{ questions_in_page.previous_page_number }}">previous_question</a></button>
        {% else %}
        <button class="disabled"><span>previous_question</span></button>
        {% endif %}
        <!-- {% for i in questions_in_page.paginator.page_range %}
            {% if questions_in_page.number == i %}
            <li class="active"><span>{{ i }}, <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}, </a></li>
            {% endif %}
            {% endfor %} -->
        {% if questions_in_page.has_next %}
        <button style="float: right;"><a href="?page={{ questions_in_page.next_page_number }}">next_page</a></button>
        {% else %}
        <button style="float: right;" class="disabled"><span>next_page</span></button>
        {% endif %}

        <br><br>

        <form method="post" action="/exams/answer/{{ exam_id }}" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="current_page" value="{{ request.GET.page|default:1 }}">
            {% for q in questions_in_page %}
            <table style="width:100%;" border="1">
                <tbody>
                    <tr>
                        <td rowspan="2" style="padding: 10pt">
                            <strong>{{ forloop.counter0|add:questions_in_page.end_index }}</strong></td>
                        <td style="width:8%">
                            <strong>Question</strong>
                        </td>
                        <td>
                            <p style="color: blue;">{{ q.question }}</p>
                            {% if videos %}
                            {% for v in videos %}
                            {% if v.question_id == q.id %}
                            <video width='900' controls>
                                <source src="{{ MEDIA_URL }}{{ v.file_path }}" type='video/mp4'>
                                </source>
                                Your browser does not support the video tag.
                            </video>

                            <br>

                            {% endif %}
                            {% endfor %}
                            {% endif %}

                            {% if images %}
                            {% for i in images %}
                            {% if i.question_id == q.id %}
                            <img src="{{ MEDIA_URL }}{{ i.file_path }}" width='900'>

                            <br>

                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Options</strong>
                        </td>
                        <td>
                            {% for o in q.options.all %}
                            <input type="checkbox" name="user_answers[]"
                                value="{'option_id': {{ o.id }}, 'next_question_id': {{ o.next_question_id }}, 'question_id': {{ o.question_id }}}"
                                placeholder="answer"><label>{{ o.option }}</label>
                            <br>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <br><br>

            {% if q.id in user_has_been_answered %}
            <button disabled="disabled" type="submit">提交答案</button>
            {% else %}
            <button type="submit">提交答案</button>
            {% endif %}
            {% endfor %}
        </form>

        <br><br>
     
        {% if not questions_in_page.has_next %}
        <a href="{% url 'user_exam_completed' exam_id=exam_id user_id=user_id %}"><button>Completed! 確定交卷</button></a>
        {% endif %}
    </div> <!-- end here -->
    
    <br><br>
    
</body>

<script>
    $('td input').click(function () {
        if ($(this).prop('checked')) {
            $('td input:checkbox').prop('checked', false);
            $(this).prop('checked', true);
        }
    });
</script>

</html>