<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>LabelMe</title>
</head>

<body>
    <div class="container">
        <!-- start here -->
        {% if messages %}
        <div class="alert alert-warning" role="alert" style="text-align: center;">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
        </div>
        {% endif %}

        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'show_training_list' %}">LabelMe</a></li>
            <li class="breadcrumb-item">{{ training_folder_name }}</li>
        </ol>

        {% if not user_name %}
        <span>please <a href="{% url 'login' %}">login</a></span>
        {% else %}
        <span><a href="{% url 'logout' %}">log out</a></span>
        {% endif %}
        <h2>Hi! Wellcome {{ user_name|default:'Guest' }}</h2>

        <br>

        {% if input_img_labels.has_previous %}
        <button><a href="?page={{ input_img_labels.previous_page_number }}">previous_question</a></button>
        {% else %}
        <button class="disabled"><span>previous_question</span></button>
        {% endif %}

        {% if input_img_labels.has_next %}
        <button style="float: right;"><a href="?page={{ input_img_labels.next_page_number }}">next_page</a></button>
        {% else %}
        <button style="float: right;" class="disabled"><span>next_page</span></button>
        {% endif %}

        <br><br>

        {% regroup input_img_labels by img_name as input_img_labels_by_img_name %}

        <table style="width:100%;" border="1">
            <thead>
                <tr>
                    <th style="width:1%; padding-left: 10pt; padding-right: 10pt; text-align: center;">SN</th>
                    <th style="text-align: center;">Image name</th>
                    <th style="text-align: center;">Label name</th>
                    <th style="text-align: center;">npy file</th>
                </tr>
            </thead>
            <tbody>
                {% for input_img in input_img_labels_by_img_name %}
                {% for label in input_img.list %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ input_img.list|length }}" style="width:1%; padding-left: 10pt; padding-right: 10pt; text-align: center;">{{ label.rank }}</td>
                        <td style="text-align: center; width:30%; padding-left: 10pt; padding-right: 10pt;" rowspan="{{ input_img.list|length }}">
                            <a href='{{ LABELME_URL }}?collection=LabelMe&mode=c&folder=example_folder&image={{ input_img.grouper }}&username={{ user_name }}' target=_blank>{{ input_img.grouper }}</a>
                        </td>
                    {% endif %}
                    {% if label.labels__label_name %}
                    <td style="text-align: left; width:60%; padding-left: 10pt; padding-right: 10pt;">
                        <img src="{{ MEDIA_URL }}{{ label.labels__label_pic_path }}" width='50'> {{ label.labels__label_name }}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if label.labels__npy_path %}
                    <td>
                        <a href="/media/{{ label.labels__npy_path }}"><span>npy下載</span></a>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <div style="text-align: center;margin:1em 0">{{ input_img_labels.number }}/{{ input_img_labels.paginator.num_pages }}</div>

    </div> <!-- end here -->
</body>

</html>