<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>LabelMe</title>
</head>

<body>
    <div class="container">
        <!-- start here -->
        {% if messages %}
        <div class="alert alert-warning" role="alert" style="text-align: center;">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
        </div>
        {% endif %}

        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item">LabelMe</li>
            <li class="breadcrumb-item">Select Training Project</li>
        </ol>

        {% if not user_name %}
        <span>please <a href="{% url 'login' %}">login</a></span>
        {% else %}
        <span><a href="{% url 'logout' %}">log out</a></span>
        {% endif %}
        <h2>Hi! Wellcome {{ user_name|default:'Guest' }}</h2>
    
        <br>

        <table style="width:100%;" border="1">
            <thead>
                <tr>
                    <th style="width:1%; padding-left: 10pt; padding-right: 10pt; text-align: center;">SN</th>
                    <th style="text-align: center;">Training project</th>
                </tr>
            </thead>
            <tbody>
                {% for training_name in training_folder_list %}
                <tr>
                    <td style="width:1%; padding-left: 10pt; padding-right: 10pt; text-align: center;">{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'show_label_list' training_folder_name=training_name %}?page=1">{{ training_name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- end here -->
</body>

</html>