<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form method="post" action="/register" enctype="multipart/form-data">{% csrf_token %}
    <div>
      <label>account</label>
      <input type="text" name="account" required="true">
    </div>
    <div>
      <label>name</label>
      <input type="text" name="username" required="true">
    </div>
    
    
    <div>
      <label>password</label>
       <input type="password" name="password" required="true">
    </div>
    <div>
      <label>re-password</label>
       <input type="password" name="re_password" required="true">
    </div>
        
    <button type="submit">send</button>
  </form>
  
  </body>
</html>